@model learn_c_sharp_mvc.Models.Product
@{
    Layout = "_Layout";
}
<div style="background-color: green; padding: 20px;">
    <h1>Ten san pham: @Model.Name</h1>
    <span>Gia san pham: @Model.Price</span>
</div>
<hr>
@this.Path